# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env*.local
# .env # Keep .env if it's a template, otherwise ignore if it contains secrets

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Capacitor
/android/
/ios/
/node_modules/.cache/capacitor/
# capacitor.config.ts is checked in, but if they generate a json one by mistake
# capacitor.config.json

# Firebase (if using firebase CLI locally for emulators etc)
# .firebase/
# firebase-debug.log

# IDX specific (if applicable)
# .idx/
